[Desktop Entry]
Version=1.0
Name=Video Compare Tool
Type=Application
Comment=MyAnimeManager2
Terminal=false
Exec=python /opt/VideoCompareTool/MyAnimeManager2.py
Icon=/opt/VideoCompareTool/icon.png
StartupNotify=true
Categories=Sound;
GenericName=Amar Installer
Keywords=MyAnimeManager2
